<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="software2023Entities" connectionString="metadata=res://*/DichVuDuLich.csdl|res://*/DichVuDuLich.ssdl|res://*/DichVuDuLich.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\BAOQUOC;initial catalog=software2023;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>

<!--data source (Truong) = TRUONGDANG\SQLEXPRESS
    data source (Hung) = 
	data source (Quoc) = ADMIN\BAOQUOC
	data source (Quan) = LAPTOP-MEAMVPHN\SQLSERVER
	data source (Vinh) = 
	data source (Bao) = DESKTOP-JH626G0\GIABAO-->